In [1]:
import pandas as pd
import numpy as np

In [2]:
# import data 
df = pd.read_csv(f"EXP0004_35passages_CSfromexp13.csv").rename(columns={'Time':'Passage'})

In [3]:
# incorporate replicate into sample name 
Treatments = [s + "_" + str(r) for s, r in zip(df.Sample.values, df.Replicate.values)]
df['Treatments'] = Treatments

In [4]:
# Passages are taken daily, so intervals btw measurements can be considered 1 day apart 
passages = np.unique(df.Passage.values)
passage2time = {p:t for p, t in zip(passages, np.arange(len(passages)))}

In [5]:
# Convert passage to time
Time = [passage2time[p] for p in df.Passage.values]
df['Time'] = Time

In [6]:
df

,Passage,Sample,Replicate,CD,DP,CA,PC,CS,CH,BU,BT,PV,EL,Treatments,Time
0,1,CD,1,0.194867,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.00000,CD_1,1
1,1,CD,2,0.231467,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.00000,CD_2,1
2,1,CD,3,0.182967,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.00000,CD_3,1
3,7,CD,1,0.207567,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.00000,CD_1,2
4,7,CD,2,0.247967,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.00000,CD_2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
925,0,CD_PV,2,0.002750,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00275,0.00000,CD_PV_2,0
926,0,CD_PV,3,0.002750,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00275,0.00000,CD_PV_3,0
927,0,CD_EL,1,0.002750,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.00275,CD_EL_1,0
928,0,CD_EL,2,0.002750,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.00275,CD_EL_2,0
929,0,CD_EL,3,0.002750,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.00275,CD_EL_3,0

In [7]:
# columns in correct order
columns = ['Treatments', 'Time', 'CD', 'DP', 'CA', 'PC', 'CS', 'CH', 'BU', 'BT', 'PV', 'EL']
df_fmt = df[columns].sort_values(by=['Treatments', 'Time'])

In [9]:
# multiply initial condition by dilution factor
species = ['CD', 'DP', 'CA', 'PC', 'CS', 'CH', 'BU', 'BT', 'PV', 'EL']
df_fmt.loc[df_fmt['Time'] == 0, species] *= 40.

In [10]:
# save data
df_fmt.to_csv(f"35passages_fmt.csv", index=False)

In [11]:
df_fmt

,Treatments,Time,CD,DP,CA,PC,CS,CH,BU,BT,PV,EL
894,BT_1,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.220000,0.000000,0.0
10,BT_1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.067867,0.000000,0.0
13,BT_1,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.851167,0.000000,0.0
16,BT_1,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.145533,0.000000,0.0
19,BT_1,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.137200,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
51,PV_3,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.977367,0.0
54,PV_3,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,1.362533,0.0
56,PV_3,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,1.343100,0.0
58,PV_3,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,1.031400,0.0
60,PV_3,6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,1.123933,0.0